<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question.title }}</title>
</head>
<body>
    {% for tag in question.tags.all %}
        <span>{{ tag }}</span>
    {% endfor %}

    <h2>{{ question.title }}</h2>
    <p>{{ question.body }}</p>
    <p>由{{ question.user.username }} 提问于 {{ question.created }}</p>

    {% if question.user == request.user %}
        <p>
            <a href="{% url 'question_update' question.id %}">修改</a>
            <a href="{% url 'question_delete' question.id %}">删除</a>
        </p>
    {% endif %}

    <h5><a href="{% url 'create_comment' question.pk %}">添加评论</a><h5>
    {% if c_q %}
        <form action="{% url 'create_comment' question.pk %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" value="发布">
        </form>
    {% endif %}

    <h4>评论：</h4>
        {% for question_comment in question_comment_list %}
            <p><font size="2">{{ question_comment.body }}</font></p>
        {% endfor %}


    <h3>所有答案：</h3>
    {% for answer in answer_list %}
        <p><a href="{% url 'answer_detail' question.pk answer.id %}" target="_blank">{{ answer }}</a></p>
        <p>由 {{ answer.user.username }} 回答于 {{ question.created }}</p>
        <p>答案评论：</p>
        {% for answer_comment in answer_comment_list %}
            <p><font size="2">{{ answer_comment }}</font></p>
        {% endfor %}
    {% endfor %}

    <h3>添加回答：</h3>
    <form action="{% url 'create_answer' question.id %}" method="post">
        {% csrf_token %}
        {{ answer_form.as_p }}
        <input type="submit" value="发布">
    </form>
</body>
</html>